input.field {
    width: 85%;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px;
}

a {
    color: #00a6af
}

/*delete button*/
table tr td:last-child {
    width: 1%;
}

/*name column*/
table tr td:first-child {
    width: 30%;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a6af;
    color: white;
}

table tr:hover {
    background-color: #ddd;
}

table td:hover {
    background-color: #e1e1e1;
}

.modalContent {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
    width: 500px;
    height: fit-content;
    min-height: 300px;
}

.close {
    background: #00a6af;
    color: #FFFFFF;
    line-height: 25px;
    position: relative;
    margin-top: -18px;
    margin-right: -18px;
    float: right;
    text-align: center;
    width: 32px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:focus,
.close:hover {
    background: #FF9800;
}

i:hover {
    color: #FF9800;
}

i {
    cursor: default
}

#pageSizeControls {
    float: right;
}

label {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgba(95, 95, 95, 0.82);
}

#pageSizeControls input {
    color: rgba(95, 95, 95, 0.82);
}

.navLinks {
    padding-top: 7px;
    float: right;
}

.pageIndex {
    padding-top: 4px;
    float: right;
}

.editIcon {
    float: right;
}

input[type=number] {
    width: 45px;
    border: none;
    padding: 5px;
}